.boton_icono {
	box-shadow: rgba(53, 53, 53, 0.16) 0px 3px 6px,
		rgba(29, 29, 29, 0.23) 0px 3px 6px;
	margin: 1em;
	width: 9em;
	height: 2em;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	.boton {
		border-radius: 6px;
		padding: 2px;
		font-size: 0.95em;
		height: 100%;
		width: 100%;
		border: none;
		color: $white;
		cursor: pointer;
        outline: none;
		.color_icono {
        }
        
	}
	.boton_primario {
        font-weight: 500;
        background:  #5838a1;
        &:hover{
            background:  #462497;
        }
	}
	.boton_secundario {
        font-weight: 300;
        background: #4a47a3;
        &:hover{
            background:  #6c50ac;
         }
	}
}
