<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.svg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title>Analizador de sintaxis basica</title>
</head>

<body>

    <div class="contenedorPadre">

        <header>
            <h1>Verificador de sintaxis basica</h1>

        </header>

        <main>
            <form action="/" method="POST" id="formularioInput" class="formulario">
                <textarea id="textAreaInput" name="txtArea" class="cajaTexto"></textarea>
                <button id="comprobarBoton" class="comprobarBoton" type="submit"> Comprobar </button>
            </form>


            <fieldset id="log" class="">
                <legend>Log</legend>

                <label class="textLog"> {{ texto }} </label>
                {% for x in error %}
                {% if x[0:2] == 'Er' %}
                <label class="textLog error">{{ x }}</label>
                {% endif %}
                {% if x[0:2]=='Ca' %}
                <label class="textLog"> {{ x }} </label>
                {% endif %}
                {% endfor %}
            </fieldset>
        </main>
    </div>

</body>

</html>
