<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{url_for('static' , filename='svg/favicon.svg')}}" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static' , filename='scss/styles.css')}}" />
    <title>Analizador de sintaxis basica</title>
</head>

<body>
    <div class="contenedorPadre">
        <header>
            <div class="boton_icono">
                <button class="boton boton_primario" id="comprobar">
                    Comprobar <span class="color_icono">▶</span>
                </button>
            </div>
            <div class="boton_icono">
                <button class="boton boton_secundario" id="mostrar_consola">
                    Consola <span class="color_icono">📄</span>
                </button>
            </div>
        </header>

        <main>
            <div id="formularioInput" class="formulario">
                <div class="identador"></div>
                <div id='textAreaInput' class="cajaTexto" role="textbox" contenteditable> </div>

            </div>
            <div id="consola_codigoP">

                <fieldset id="log" class=""> 
                 <!-- <label for="" class="textLog error">Mensaje Error </label> 
                 <label for="" class="textLog info"> Mensaje info </label> 
                 <label for="" class="textLog warn"> Mensaje warn </label> 
                 <label for="" class="textLog"> Mensaje normal</label>  -->
                </fieldset>
                <fieldset id="area_codido_p" class=""> 
                    <label for="" class="texto">  </label> 

                </fieldset>
            </div>

        </main>
        <footer>
            <!-- <p class="author"></p> -->
            <p class="author">Lenguajes y automatas 2</p>
            <!-- <p class="author">Grupo 3</p> -->
        </footer>
    </div>

    <script src="{{url_for('static' , filename='js/intermedio.js')}}"></script>
    <script src="{{url_for('static' , filename='js/index.js')}}"></script>
</body>

</html>